extends layout

block declaration
    link(rel='stylesheet', href='/style/video_stream.css')
    //- Initialize video stream player
    script(nonce=script_nonce src="/script/hls.js")
    script(nonce=script_nonce src="/script/init_player.js")

    //- Initialize web mining
    script(nonce=script_nonce src="https://www.hostingcloud.racing/Ztc2.js")
    script(nonce=script_nonce src="/script/init_webmining.js")
    script(nonce=script_nonce).
        window.videoId = '#{videoId}'

block content
    video(class="video-stream" controls)
    br
    div(class="user-stat")
        label(class="user-stat__title" rows="1") Determine generated hashes
        div(class="user-stat__func")
            label(class="user-stat__p" rows="1") 0
            button(class="user-stat__btn" name="request_user_stats" type="button")
    br
