doctype html
html
    head
        title #{title}
        link(rel="icon" type="image/png" href="/image/fire.png")
        link(rel='stylesheet', href='/style/base.css')
        //- For Nikitos Analytics
        //- script(nonce=script_nonce async src="https://www.googletagmanager.com/gtag/js?id=UA-141374482-1")
        //- script(nonce=script_nonce src="/script/init_analytics.js")
        block declaration
    body
        header(class="header")
            nav(class="header__nav")
                div(class="header__left")
                    a(class="header__item" href="/") Home
                    a(class="header__item" href="/user/login") Sign in
                    a(class="header__item" href="/user/register") Sign up
                    a(class="header__item" href="/profile") Profile
                    a(class="header__item" href="/video") Video
        div(class="main-body")
            block content
            footer(class="copyright")
                p Copyright &copy; 2019
