extends layout

block declaration
    link(rel='stylesheet', href='/style/auth.css')

block content
    form(class="register", name="register" method='POST', action='/user/login')
        h1(class="register__title") Sign In
        div.input
            label Username
            input(type='text' class="register__input" name='username' pattern="^(?=.{3,30}$)[a-zA-Z0-9]+$" required="required" title="Must be from 3 to 30 chars and contains lowercase, uppercase, number" placeholder="Username")
        div.input
            label Password
            input(type='password', class="register__input" name='password' pattern="^(.{8,71}$)" required="required" title="The password length must be greater than 7 and lower than 72" placeholder="Password")
        div.actions
            input(type='submit', class="register__button" value='Submit')
