extends layout

block declaration
    link(rel='stylesheet', href='/style/profile.css')

block content
    h1(class="title") Hello, #{username}. Please upload image
    form(class="upload-video" action="/api/upload" method="post" encType="multipart/form-data")
        label(class="input-label") Caption
        input(type="text" class="upload-text" name="caption")
        label(class="input-label") Cover image
        input(type="file" class="upload-video__btn" name="image" accept="image/*")
        label(class="input-label") Video
        input(type="file" class="upload-video__btn" name="video" accept="video/*")
        input(type="submit" class="upload-video__btn")
