extends layout

block declaration
    link(rel='stylesheet', href='/style/auth.css')

block content
    form(class="register" name='register', method='POST', action='/user/register')
        h1(class="register__title") Sign Up
        div.input
            label Name
            input(type='text' class="register__input" name='name' pattern="^(?=.{3,30}$)[a-zA-Z0-9]+$" required="required" title="Must be from 3 to 30 chars and contains lowercase, uppercase, number" placeholder="Name")
        div.input
            label Email
            input(type='text' class="register__input" name='email' pattern="^(?=.{10,40}$)[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required="required" placeholder="Email")
        div.input
            label Username
            input(type='text' class="register__input" name='username' pattern="^(?=.{3,30}$)[a-zA-Z0-9]+$" required="required" title="Must be from 3 to 30 chars and contains lowercase, uppercase, number" placeholder="Username")
        div.input
            label Password
            input(type='password' class="register__input" name='password' pattern="^(.{8,71}$)" required="required" title="The password length must be greater than 7 and lower than 72" placeholder="Password")
        div.input
            label Confirm
            input(type='password' class="register__input" name='password2' pattern="^(.{8,71}$)" required="required" title="The password length must be greater than 7 and lower than 72" placeholder="Confirm password")
        div.actions
            input(type='submit' class="register__button" value='Submit')
