extends layout

block declaration
    link(rel='stylesheet', href='/style/video_gallery.css')

block content
    h1 Hello, #{username}
    each videoElem in videos
        div(class="tile__outer")
            a(class="tile__inner", href=videoElem.link)
                img(class="tile__img" src=videoElem.imgPath)
                p(class="tile__text").
                    #{videoElem.caption}
