* { margin: 0; }

.header {
    position: fixed;
    height: 47;
    left: 0;
    top: 0;
    width: 100%;
    display: block;
    overflow: auto;
    background-color: #333;
    box-sizing: border-box;
}
  
.header__nav {
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    display: block;
}

.header__left {
    cursor: pointer;
    height: 100%;
    top: 0;
}

.header__item {
    float: left;
    color: white;
    box-sizing: border-box;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header__item:hover {
    background-color: #111;
}

.main-body {
    position: fixed;
    margin-top: 47px;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

body::after {
    content: "";
    background-image: url("/image/main_screen.jpg");
    opacity: .6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

.copyright {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    /* height: 100%; */
    background-color: blue;
    color: white;
    text-align: center;
}
