.title {
    color: black;
    text-align: center;
}

.input-label {
    display: block;
    text-align: center;
    margin: 10px;
    color: white;
}

.upload-text {
    display: block;
    margin: 10px auto;
}

.upload-video {
    background-color: darkslateblue;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 20px;
}

.upload-video__btn {
    padding: 20px;
    background-color: coral;
    margin: 10px auto;
    display: block;
}
