.tile {
    overflow: hidden;
}

.tile__outer {
    position: relative;
    width: 25%;
    padding-bottom: 25%;
    color: #FFF;
    float: left;
}

.tile__outer:hover {
    background-color: greenyellow;
    color: black;
    float: left;
}

.tile__inner {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    background-color: #99d6ff;
    text-decoration: none;
}

.tile__inner:hover {
    background-color: #4d94ff;
    color: white;
}

.tile__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 1;
    max-width:100%;
    height: 60%;
}

.tile__text {
    opacity: 1;
    text-align: center;
}
