.video-stream {
    margin: 47px auto auto auto;
    display: block;
    max-width: 40%;
    max-height: 40%;
    border: 10px solid #1F618D;
    object-fit: cover;
}

.user-stat {
    height: auto;
    display: block;
    align-items: center;
    width: 150px;
    height: 100px;
    float: right;
    background-color: #333;
    margin: 80px auto;
}

.user-stat__title {
    display: block;
    text-align: center;
    color: white;
    margin: auto;
}

.user-stat__func {
    margin: auto;
    display: table;
}

.user-stat__p {
    margin-right: 20px;
    color: white;
}

.user-stat__btn {
    background: url("/image/reload-icon.png");
    background-size: 100%;
    width: 20px;
    height: 20px;
    margin: auto;
}
